{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {#    <link href="{% static 'blog.css' %}" rel="stylesheet">#}
    <link href="{% static 'css/base_account.css' %}" rel="stylesheet">
    {#    <script src="{% static 'js/jquery-slim.min.js' %}"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js">
    </script>


</head>
<body>
<script>
    var csrftoken = Cookies.get('csrftoken');

    function csrfSafeMethod(method) {
// these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(document).ready(function () {
        {% block domready %}
        {% endblock %}
    });
</script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><b>H</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="/" class="nav-link">Home</a>
            </li>
{#            <li class="nav-item">#}
{#                <a href="{% url 'pizzapp:home' %}" class="nav-link"> Pizzashop</a>#}
{#            </li>#}
            <li class="dropdown nav-item">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-expanded="false"> Projects
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="nav-item"><a href="{% url 'pizzapp:home' %}" class="nav-link">Pizzashop</a></li>
                    <li class="nav-item"><a href="{% url 'collage:main' %}" class="nav-link">Collage</a></li>
                    <li class="nav-item"><a href="{% url 'blog:post_list' %}" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="{% url 'account:login' %}" class="nav-link">Login</a></li>
                    <li class="nav-item"><a href="{% url 'hello:vue-calc' %}" class="nav-link">Vue calc</a></li>

                </ul>
            </li>
        </ul>
        <ul class="nav-item nav navbar-nav navbar-right" style="float: right">
            {#                    <li class="navbar-right">#}
            {#                        <a href="https://devcenter.heroku.com"><span class="glyphicon glyphicon-book"></span> Heroku Dev#}
            {#                            Center</a>#}
            {#                    </li>#}
            {#                    <li class="text-white nav-item">#}
            {#                        <span>Bookmarks</span>#}
            {% if request.user.is_authenticated %}
                {#                            <ul class="navbar">#}
{#                <li {% if section == "account:dashboard" %}class="selected nav-item"{% endif %}>#}
{#                    <a href="{% url "account:dashboard" %}" class="nav-link">My dashboard</a>#}
{#                </li>#}
{#                <li {% if section == "images" %} class="nav-item selected"{% endif %}>#}
{#                    <a href="{% url 'images:list' %}" class="nav-link">Images</a>#}
{#                </li>#}
{#                <li {% if section == "people" %} class="nav-item selected"{% endif %}>#}
{#                    <a href="{% url 'account:user-list' %}" class="nav-link">People</a>#}
{#                </li>#}

            {% endif %}

            {% if request.user.is_authenticated %}
                <li class="nav-item navbar-text">Hello {{ request.user.username }},</li>
                <li class=" nav-item"><a href="{% url "account:logout-django" %}" class="nav-link">Logout</a></li>

            {% else %}
                <li class="nav-item"><a href="{% url "account:login-django" %}" class="nav-link">Log-in</a></li>
            {% endif %}

        </ul>
        {#                    </li>#}
        {#                </ul>#}
    </div>
</nav>

<div id='page_content' class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            {% block sidebar %}{% endblock %}
        </div>
        <div class="col-sm-8 content">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="{{ message.tags }}">
                            {{ message|safe }}
                            <a href="#" class="close">x</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block page %}{% endblock %}

        </div>
        <div class="col-sm-2">
            {% block right_sidebar %}{% endblock %}
        </div>

    </div>
</div>


</body>
</html>
