{% extends 'base.html' %}
{% block page %}
    <p> Исходное изображение:<br>
        <img src=" {{ photo.img_field.url }}">
    </p>
    <p> Обработанные (связанные с исходным, подверженные одной из обработок):<br>
        {% for photo in cut_photos %}
            <img src="{{ photo.img_field.url }}">
        {% endfor %}
    </p>
    <br>
    <hr>
    Изображения сервера (сжатые):<br>
    {% for photo in cut_resized_photos %}
     <a href="{{ photo.img_field.url }}"><img src="{{ photo.img_field.url }}"
                                              class="img-rounded"></a>
    {% endfor %}
{% endblock %}