
{#{% load static %}#}
{#<link rel="stylesheet" type="text/css" href="{% static 'djtutorial/style.css' %}">#}

{% block content %}


    <a href="{% url 'collage:index'%}">Главная</a>
    <br><hr>
{#    <img src="{% static 'collage/images/out1.jpg'%}">#}
    <ul>
        <a href="{% url 'collage:input' %}"> Create new collage</a>

  {% for collage in collages %}
      <li><a href="{% url 'collage:view' collage.id %}">{{ collage }}</a></li>
  {% endfor %}
  </ul>

    <br><hr>
    <a href="{% url 'collage:index'%}">Главная</a><br>
    <a href="{% url 'publish:send_mail'%}">Отправить сообщение по емэйл</a><br>
    <a href="{% url 'collage:progress'%}">Прогресс бар</a><br>
{% endblock %}