{% extends 'base.html' %}



{% block sidebar %}

{% url 'collage:main' as collage_main %}
{% url 'collage:collage-form' as collage_form %}
    {% url 'images:create' as images_create %}
{% url 'index' as home %}

    <div class="list-group">
        <span class="text-uppercase text-center">Коллаж</span>

        <a href="{% url 'collage:main' %}"
           class="list-group-item {% if request.path == collage_main %} active {% endif %}">Детектирование</a>

        <a href="{% url 'collage:collage-form' %}"
           class="list-group-item {% if request.path == collage_form %} active {% endif %}">Форма</a>

    <a href="{% url 'account:dashboard' %}"
           class="list-group-item {% if request.path == images_create %} active {% endif %}">Букмарклет</a>

        <a href="{% url 'index' %}"
           class="list-group-item ">Домой</a>

    </div>


{% endblock %}

{% block right_sidebar %}
    <div class="panel">
        <div class="panel-heading bg-blue">
            <h4 class="panel-title text-center text-white">
                Информация
            </h4>
        </div>
        <div class="panel-body text-white">
            {% for key, value in system_info.items %}
                {{ key }} = {{ value }}<br>
                {% for key2, value2 in value.items %}
                    {{ key2 }} = {{ value2 }}<br>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}