{% extends 'collage/sidebar.html' %}
{% load bootstrap3 %}
{% block title %}Коллаж{% endblock %}

{% block page %}
    <div class="panel">
        <div class="panel-heading bg-ruby">
            <h4 class="panel-title text-center text-white">
                Коллаж
            </h4>
        </div>
        <div class="panel-body">
            <form action="{% url 'collage:main' %}" , method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="btn btn-red pull-right">Загрузить</button>
            </form>
        </div>
    </div>

{% endblock %}