{% load static %}
{#
<link rel="stylesheet" type="text/css" href="{% static 'djtutorial/style.css' %}">#}

{% block content %}


<a href="{% url 'collage:index'%}">Главная</a>
<br>
<hr>
<div align="center">
<h2> Коллаж:</h2>

<img src=" {{ collage.final_img.url }}">
</div>
<hr>

{{  collage }}
<hr>
<h2 align="center"> Исходные изображения </h2>
{% for photo in collage.photos.all %}
<img src="{{ photo.img_field.url }}">




{% endfor %}

<br>
<hr>



<br>
<hr>
<a href="{% url 'collage:processing' collage.pk %}">Обрабока фоток</a><br>
<a href="{% url 'collage:index'%}">Главная</a>

{% endblock %}