{% extends "base.html" %}
{% load thumbnail %}
{% block title %}People{% endblock %}
{% block page %}
    <h1>People</h1>
    <div id="people-list">
        {% for user in users %}
            <div class="user">
                <a href="{{ user.get_absolute_url }}">
                    {% thumbnail user.profile.photo "160x160" crop="50%" as im %}
                        <img src="{{ im.url }}">
                    {% endthumbnail %}
                </a>
                <div class="info">
                    <a href="{{ user.get_absolute_url }}" class="title">
                        {{ user.username }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}