{% extends 'pizzashop/base.html' %}
{% load crispy_forms_tags %}
{% block page %}

    <div class="panel">
        <div class="panel-heading bg-blue">
            <h4 class="panel-title text-center text-white">
                Профиль
            </h4>
        </div>
        <div class="panel-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
{#                {% bootstrap_form user_form%}#}
                {{ user_form|crispy }}
                <hr>
{#                {% bootstrap_form pizzashop_form %}#}
{#                {{ user_form|bootstrap}}<hr>#}
                {{ pizzashop_form|crispy }}
                <button type="submit" class="btn btn-red">Обновить</button>
            </form>
        </div>
    </div>

{% endblock %}
