{% extends 'base.html' %}
{% block sidebar %}
    <div class="list-group">
        <span class="text-uppercase text-center">Pages:</span><br>

        <a href="{% url 'account:login' %}"
           class="list-group-item ">Custom login</a> <br>

        <a href="{% url 'account:login-django' %}"
           class="list-group-item ">django login view</a><br>

        <a href="{% url 'account:password_change' %}"
           class="list-group-item ">Change password</a><br>

        <a href="{% url 'password_reset' %}"
           class="list-group-item ">Reset Password</a><br>

        <a href="{% url 'account:register' %}" class="list-group-item"> Sign up</a>
        <a href="{% url 'account:edit' %}" class="list-group-item"> Edit profile</a>
        <a href="{% url 'account:logout-django' %}"
           class="list-group-item ">Logout</a><br>

    </div>
{% endblock %}



