{% extends "account/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block page %}
    <h1>Dashboard</h1>
    {% with total_images_created=request.user.images_created.count %}
        <p>Welcome to your dashboard. You have bookmarked {{ total_images_created }}
            image{{ total_images_created | pluralize }}.</p>
    {% endwith %}
    <p>Drag the following button to your bookmarks toolbar to bookmark images
        from other websites →
        <a href="javascript:{% include "account/bookmarker_launcher.js" %}" class="button">Bookmark
            it</a><p>
    <p><b><i>Example:</i></b></p>
    <p><img id="bookmarklet-example" src="../../static/bookmarklet.jpg" class="image"></p>
    <p>Now you can open any site with images and click <b>"Bookmarke it"</b> to bookmark liked images!</p>
    <p>You can also <a href="{% url "account:edit" %}">edit your profile</a> or <a
            href="{% url "account:password_change" %}">change your password</a>.<p>

    <h2>What's happening</h2>
    <div id="action-list">
        {% for action in actions %}
            {% include "actions/action/detail.html" %}
        {% endfor %}

    </div>
{% endblock %}