{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% trans "My shop" %}
{% endblock %}

{% block sidebar %}
    <div id="sidebar">
        <h3>{% trans "Categories" %}</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url "shop:product-list" %}">{% trans "All" %}</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}


{% block page %}
    <div id="shop">
        <div id="header">
            <a href="{% url "shop:product-list" %}" class="logo">
                {% trans "My shop" %}
            </a>
        </div>
        <div id="subheader">
            <div class="cart">
                {# cart variable is from cart.context_processor.py, see settings.py #}
                {% with total_items=cart|length %}
                    {% if cart|length > 0 %}
                        {% trans "Your cart" %}:
                        <a href="{% url "cart:cart-detail" %}">
                            {% blocktrans with total_items_plural=total_items|pluralize total_price=cart.get_total_price %}
                                {{ total_items }} item{{ total_items_plural }},
                                ${{ total_price }}
                            {% endblocktrans %}
                        </a>
                    {% else %}
                        {% trans "Your cart is empty." %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

